button {
    height: 20px;
    width: 60px;
    background-color: red;
    outline: none;
    /* margin: 10px; */
    /* border: none; */
    border-radius: 5px;
    padding-bottom: 25px;
    /* margin: auto; */
    text-align: center;
    color: white;
    font-weight: bold;
  }

  #tomato {
    width: 80px;
    height: 80px;
  }
  
  /* button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  } */